[submodule "tftjs"]
	path = tftjs
	url = https://github.com/dwhitnee/tftjs.git
[submodule "daleks"]
	path = daleks
	url = https://github.com/dwhitnee/daleks.git
[submodule "samples"]
	path = samples
	url = https://github.com:dwhitnee/samples.git
